.layout{
  max-width: 1200px;
  min-width: 800px;
  margin: 300px auto 0 auto; 
}

.form {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.header {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 50px;
}

.listbox{
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.todo{
  width: 150px;
  height: 150px;
  border: 3px solid rgb(152, 202, 71);
  border-radius: 15px;
  padding: 10px ;
  text-align : center;
}